* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(notebook-natural-laptop-macbook.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.table thead th{
  color: rgb(185, 175, 161);
}
.searchInput {
  border-radius: 20px;
}
.crud {
  border-radius: 1px solid #fff;
}
.crud .over-lay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}
.btn-add:hover {
  background-color: rgb(185, 175, 161);
  color: #000;
  border: #fff 2px solid;

}
.btn-add {
  transition: all 0.5s;
}
.btn-add {
  margin-top: 15px;
  padding: 8px 22px;
  /* padding: 0.8rem 2.6rem; */
  color:  rgb(185, 175, 161);
  border: #fff 2px solid;
  background-color: transparent;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
.tableAdd {
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 20px 15px;
}
h1 {
  color: tan;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.table {
  border-color: black;
}
input {
  margin-bottom: 20px;
}

.input-grey-rounded {
  font-size: 16px;
  line-height: 1.5;
  background: #e9eef0;
  border: 1px solid #d5d9db;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
  border-radius: 100px;
  width: 50%;
  padding: 0.5em 1em 0.5em 2.5em;
}

.input-grey-rounded::placeholder {
  color: #838d99;
}

.input-grey-rounded:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #84a2fa;
}
#tableBody tr{
  transition: all .5s;
}
#tableBody tr:hover {
  background-color: rgb(185, 175, 161);
  cursor: pointer;
}
